@using Survey.Shared.Model

<div class="card" style="width: 18rem;">
    <div class="float-right">
        <button @onclick="Delete" class="close" aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <div class="card-body">
        <h5 class="card-title">@CardModel.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">@(CardModel.Text.ToUpper())</h6>
        <p class="card-text">@CardModel.Text</p>
        <RadzenRating Stars="7" Change=@(args => OnChange(args)) Value="CardModel.Rating" />
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
    </div>
</div>

@code {
    [Parameter]
    public CardModel CardModel { get; set; }

    [Parameter]
    public EventCallback<CardModel> OnRatingChanges { get; set; }

    [Parameter]
    public EventCallback<CardModel> OnDelete { get; set; }


    private async void Delete()
    {
        await OnDelete.InvokeAsync(CardModel);
    }

    private async void OnChange(int value)
    {

        CardModel.Rating = value;

        await OnRatingChanges.InvokeAsync(CardModel);
    }
}
