<EditForm Model="cardModel" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <InputText placeholder="Title of the card" @bind-Value="@cardModel.Title" class="form-control" id="cardModel.Title"></InputText>
        <InputTextArea placeholder="Text of the card" @bind-Value="@cardModel.Text" class="form-control" id="cardModel.Text" rows="3"></InputTextArea>
        <ValidationMessage For="@(() => cardModel.Text)" />
        <Survey.Client.Pages.App.Util.TagComponenct Tags="Tags"
                                                    SearchMethod="SearchMethod"></Survey.Client.Pages.App.Util.TagComponenct>
    </div>
    <button class="btn btn-success" type="submit">Save changes</button>
</EditForm>
@code {

    [Parameter]
    public IList<string> Tags { get; set; } = new List<string>();

    [Parameter]
    public Func<string, Task<IEnumerable<string>>> SearchMethod { get; set; }
}