@using Survey.Shared.Model

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@CardModel.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">@(CardModel.Text.ToUpper())</h6>
        <p class="card-text">@CardModel.Text</p>
        <RadzenRating Stars="7" Change=@(args => OnChange(args)) Value="CardModel.Rating"/>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
    </div>
</div>

@code {
    [Parameter]
    public CardModel CardModel { get; set; }

    [Parameter]
    public EventCallback<(int,int)> OnRatingChanges { get; set; }


    async void OnChange(int value)
    {
        await OnRatingChanges.InvokeAsync((CardModel.Id-1,value));
    }
}
