@page "/DialogEditBoard/"
@using Survey.Shared.Model
@using Survey.Client.Unit
<h3>DialogEditBoard</h3>


<EditForm Model="boardModel" OnValidSubmit="BoardPage.MakeNewSurveyBoard">
    <DataAnnotationsValidator />
    <div class="form-group">
        <InputDate @bind-Value="@boardModel.ExpDate" class="form-control" id="boardModel.ExpDate"></InputDate>
        <ValidationMessage For="@(() => boardModel.ExpDate)" />
        <InputText @bind-Value="@boardModel.Name" class="form-control" id="boardModel.Name"></InputText>
        <ValidationMessage For="@(() => boardModel.Name)" />
    </div>
    <button class="btn btn-primary" type="submit">Make a new Survey board</button>
</EditForm>

@using Survey.Client.Pages.App.Board

@code {
    [Parameter]
    public BoardModel boardModel { get; set; } = null!;    

    [Parameter] 
    public BoardPage BoardPage { get; set; }

}
