@page "/logout"
@using Survey.Client.Auth
@using Blazored.LocalStorage;
@using Survey.Client.Helpers.Providers;

<h3>Logout</h3>
@inject NavigationManager navigationManager
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<text>Log out..</text>


@code {
    protected async override Task OnInitializedAsync()
    {
        if (await LocalStorageService.ContainKeyAsync("bearerToken"))
        {
            await LocalStorageService.RemoveItemAsync("bearerToken");
            ((AppAuthenticationStateProvider)AuthenticationStateProvider).SignOut();
        }
        StateHasChanged();
        NavigationManager.NavigateTo("");
    }
}
