@page "/board-login/{Guid}"

<EditForm Model="BoardFillerDto" OnSubmit="LoginUser" Context="test">
    <DataAnnotationsValidator />
    <div class="form-group my-3">
        <label for="password">Password</label>
        <InputText @bind-Value="BoardFillerDto.Password" type="password" id="password" class="form-control" />
        <ValidationMessage For="@(()=>BoardFillerDto.Password)" />
    </div>
    <ValidationSummary />
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>
LoginUser
@code {
    [Parameter]
    public string Guid { get; set; }
}