@page "/app"
@using Survey.Client.Pages.App.Card
<h3>MainPage</h3>

<Survey.Client.Pages.App.Card.CardForm cardModel="@cardModel" OnValidSubmit="@Create" />
@foreach (var cardItem in CardList)
{
    <CardSimple OnDelete="@(OnDelete)" OnRatingChanges="@(OnRateChange)" CardModel="cardItem"></CardSimple>
}

@code {






}



