@attribute [Microsoft.AspNetCore.Components.RouteAttribute(Constants.FRONTEND_URL.ADD_BOARDFILLERS + "/{BoardId}")]


<h3>AddBoardFIller</h3>

@code {

    [Parameter]
      public string? BoardId { get; set; }

    protected override void OnInitialized()

    {



            base.OnInitialized();

   Console.WriteLine(BoardId);
    }
}
