@page "/board"
@using Survey.Client.Repository.Interfaces
@inject IBoardRepository iBoardRepository
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<AuthorizeView>
    <Authorized>
        <h3>BoardPage</h3>
        <button class="btn btn-primary" @onclick="MakeNewSurveyBoard">Make a new Survey board</button>
    </Authorized>
</AuthorizeView>


@code {

    private async void MakeNewSurveyBoard()
    {
        await iBoardRepository.CreateBoard(new Survey.Shared.Model.BoardModel());
    }



}
