@using Survey.Shared.DTOs
@using Survey.Shared.Model
@using Microsoft.AspNetCore.SignalR.Client
@using Survey.Client.Pages.App.Card
<AuthorizeView>
    <Authorized>
        @foreach (var cardItem in CardList ?? Enumerable.Empty<CardRatingDto>())
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@cardItem.CardModel.Title</h5>
                    <p class="card-text">@cardItem.CardModel.Text</p>
                </div>
            </div>

        }
    </Authorized>
</AuthorizeView>

<a @onclick="test" class="btn btn-info" role="button">asdfasd</a>


<h1>summary</h1>
@code {
    [Parameter, EditorRequired]
    public List<CardRatingDto>? CardList { get; set; } = new List<CardRatingDto>();
    public Dictionary<int,int> b = new Dictionary<int, int>();


    protected override void OnInitialized()
    {

        base.OnInitialized();
    }


    protected override Task OnParametersSetAsync()
    {
        if (CardList.Any())
        {
            CardList =  CardList.OrderByDescending(x => x.CardModel.Rating.Average(x => x.RatingNumber)).ToList();
        }
        StateHasChanged();
        return base.OnParametersSetAsync();
    }
    private async void test()
    {
        if (CardList != null)
        {
            var a = CardList.OrderByDescending(x => x.CardModel.Rating.Average(x => x.RatingNumber.Value)).ToList();

            foreach (var x in a)
            {
                Console.WriteLine(x.CardModel.Title);
                Console.WriteLine(x.CardModel.Text);
            }
        }


        foreach (var cardItem in CardList ?? Enumerable.Empty<CardRatingDto>())
        {

            var a = cardItem.CardModel.Rating.Sum(x => x.RatingNumber);

            var b = cardItem.CardModel.Rating
                .GroupBy(x => x.RatingNumber)
                .Select(x => new
                {
                    Keyaasdf = x?.Key ?? 0,
                    Second = x?.Count() ?? 0
                }).ToList();

            var asString = string.Join(Environment.NewLine, b) + " ;" + cardItem.CardModel.Title;

            Console.WriteLine(asString);
        }




        StateHasChanged();
    }

}
