@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


<h1>
    @Body
</h1>

<a @onclick="@(() => {NavigationManager.NavigateTo("");})" 
   class="btn btn-info" role="button">Go back to main page</a>
@code {

}
