<a href="/" class="nav-link btn btn-link">surWee</a>
<AuthorizeView Roles="Admin, BoardAdmin">
    <Authorized>
        <div>
            <span>You are logged in as @context.User.Identity?.Name</span>
        </div>
        <a href="logout" class="nav-link" btn btn-link">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="register">Register</a>
        <a href="login" class="nav-link btn btn-link">Login</a>
    </NotAuthorized>
</AuthorizeView>
