@page "/"
@inject NavigationManager navigationManager


<AuthorizeView>
    <Authorized>
        <Survey.Client.Pages.App.Board.BoardPage></Survey.Client.Pages.App.Board.BoardPage>
    </Authorized>
    <NotAuthorized>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-8 align-self-center">
                    <h1>Make your awesome anonymous survey</h1>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
@code {
}
