@using Microsoft.AspNetCore.WebUtilities
@page "/testfasz"

@*@attribute [Microsoft.AspNetCore.Components.RouteAttribute(Constants.FRONTEND_URL.test)]*@
@*@attribute [Microsoft.AspNetCore.Components.RouteAttribute(Constants.FRONTEND_URL.test + "/id")]*@

<EditForm OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
        <InputText placeholder="Title of the card" @bind-Value="stringObject" class="form-control" id="cardModel.Title"></InputText>
    <button class="btn btn-success" type="submit">Save changes</button>
</EditForm>

@code {
    string Id { get; set; }

    string? stringObject;

    public void OnValidSubmit()
    {
        Console.WriteLine(stringObject);
        
    }


}