@page "/test"

<AuthorizeView Roles="Admin">
    <Authorized>
        authorized @context.User.Identity?.Name
        @foreach (var x in @context.User.Claims)
        {
            Console.WriteLine(x);
        }
    </Authorized>

    <NotAuthorized>
        @foreach (var x in @context.User.Claims)
        {
            Console.WriteLine(x);
        }
    </NotAuthorized>
</AuthorizeView>

<h1>ALMA</h1>


@code{

}